<h1>Olá handlebars!!!</h1>
{{#if approved}}
    <p>Parabéns, seu cadastro foi aprovado</p>
{{else}}    
    <p>Seu cadastro tem pendências</p>
{{/if}}
<p>O nome do usuário é {{user.name}} e seu sobrenome {{user.surname}} e tenho {{user.age}} anos</p>
<p>{{palavra}}</p>
{{#if auth}}
    <p>
        Você está autenticado. <a href="/dashboard">Clique aqui</a> para acessa o dashboard
    </p>
{{/if}}